@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

body {
    max-height: 100vh;
    width: 100vw;
    background-color: #f4f2ee;
}

.header {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.header h1 {
    font-family: "Dancing Script", cursive;
}

.img-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.img-container img {
    width: 100%;
    max-width: 600px;
}

.button {
    position: relative;
    text-decoration: none;
    width: 120px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
    /* padding: 20px; */
    gap: 120px;
    border-radius: 10px;
    cursor: pointer;
    /* z-index: 0; */
}

.button:hover {
    border-bottom: 5px solid #00ff22;
}

/* .button::before {
    content: "";
    position: absolute;
    inset: 0;
    left: 3px;
    top: -4px;
    margin: auto;
    width: -128px;
    height: -48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #10d32a 0%, rgb(119, 235, 235) 100%);
    z-index: -10;
    pointer-events: visiblePainted;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #00ff22 0%, rgb(0, 250, 250) 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(15px);
}

.button:hover::after {
    filter: blur(40px);
}

.button:hover::before {
    transform: rotate(-180deg);
}

.button:active::before {
    scale: 0.7;
} */

.scanner {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}

.scanner span {
    color: transparent;
    font-size: 1.8rem;
    position: relative;
    overflow: hidden;
}

.scanner span::before {
    content: "redesign...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 150%;
    border-right: 4px solid black;
    overflow: hidden;
    color: black;
    animation: load91371 2s linear infinite;
}

@keyframes load91371 {

    0%,
    10%,
    100% {
        width: 0;
    }

    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {
        border-right-color: transparent;
    }

    11%,
    21%,
    31%,
    41%,
    51%,
    61%,
    71%,
    81%,
    91% {
        border-right-color: #17FEFF;
    }

    60%,
    80% {
        width: 100%;
    }
}

/* Footer */
.social-links a {
    text-decoration: none;
}

.social-links,
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
}

.social-btn svg {
    height: 24px;
    width: 24px;
}

.social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
}

.social-btn:hover {
    width: auto;
    border-radius: 5px;
    padding: 20px;
}

.social-btn:hover span {
    padding: 2px;
    width: auto;
}

#twitter svg {
    fill: #1da1f2;
}

#linkedin svg {
    fill: #0e76a8;
}

#github svg{
    fill: #333;
}

.footer {
    margin: 30px;
}