@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
     --primary-color: #2563EB;
     --dark-grey: #6B7280;
     --off-white: #F3F4F6;
     --primary-blue-light: #3B82F6;
}
body {
    font-family: "Montserrat",sans-serif;
    /* color: blue; */
}
/** explain css box model **/

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
hr {
    margin: 2rem 0rem;
}
.link {
    text-decoration: None;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.list-non-bullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link {
    color: white;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-active {
    font-weight: bold;
}

/* header */

.hero {
    padding: 2rem;
}

.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding: 1rem;
    color: var(--dark-grey);
    text-align: center;
}
/* section  */

.section h1 {
    text-align: center;
}
.section {
    padding: 2rem;
    /* text-align: center; */
}

.section a {
    text-align: center;
}
.ow {
    background-color: var(--off-white);
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0%;
}

